<!--ユーザの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image("100x100") %>
  <% if @user == current_user %>
    <!--引数 なんで@user.id じゃなくていいのかイマイチ不明 ルーティングのルールに合ってなくない？-->
    <p><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
  <% end %>
</div>

<!--部分テンプレート呼び出し-->
<%#= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
<%= render 'post_images/list', post_images:@post_images %>
